:root{
        --main-bg:#222831;
        --secondary-color:#393e46;
        --high-color:#a2c11c;
        --primary-color:#dbd8e3;
        --advanced-color:#9e7e44;
        --low-color:#2c2c2a;
}

body{
        background:var(--main-bg);
}

h1{
    color: var(--advanced-color);
    text-transform: capitalize;
    font-family: 'Playfair Display',
            serif;
            font-weight: bold;
            padding-top: 20px;
        font-size:50px ;
        line-height: 80px;
}
h2{
        color: var(--low-color);
        padding-top: 10px;
        margin-top: 10px;
        font-size:24px ;
}
h3{
        color: var(--secondary-color);
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 20px;
       
}
p{
        font-family: 'Poppins',
        sans-serif;
        font-weight: normal;
        color: var(--high-color);
        margin-top: 30px;
        line-height: 1.5;   
        padding: 20px;
                font-size: 18px;
                text-align: center;
                text-transform: capitalize;
}

.personal-img{
        max-width: 30px;
        border-radius: 50%;
}
.navbar{
        background-color: #222831;
        color:var(--advanced-color);
       
}
.navbar-nav{
color: var(--advanced-color);
}
.nav-link{
color: var(--advanced-color);
text-transform: capitalize;
}

.nav-link:hover{
        color:var(--high-color);
        transition: all 100ms ease-in-out;
}
.navbar-toggler{
        color: var(--advanced-color);
        border-color:var(--high-color) ;
}


.homepage-container {
        background:var(--secondary-color);
        margin: 5rem 2rem 3rem;
        padding: 2.5rem;
}


.homepage-content{
        margin: auto 1rem;
                padding: 2rem;
                max-width: 550px;
}
.homepage-content h1{
        font-size: 44px;
        line-height: 50px;
        padding: 5px;
}
.homepage-content h2{
        font-size:20px ;
        padding: 5px;
        
}
.homepage-content p{
font-size: 18px;
        line-height: 1.5;
        padding: 5px;
}

.about-container{
        margin: 5rem 6rem 3rem;
                padding: 2.5rem;
}
.about-container h3 {
        text-align: center;
        color: var(--advanced-color);
        text-transform: capitalize;
}
.about{
        display: flex;
        justify-content: space-evenly;  
        margin: 30px 0;
}


.about p{
        color:var(--advanced-color);
        margin: 10px;
background-color: var(--primary-color);
        }

.my-resume{
                display: flex;
                justify-content: center;
                padding: 15px;
        }
.resume-link {
        background:var(--primary-color);
        color: var(--advanced-color);
        text-decoration: none;
        padding: 15px 20px;
        border-radius: 4px;
        text-transform: capitalize;
        
      
        
}
.resume-link:hover{
        background-color:var(--secondary-color);
        color:var(--main-bg);
}






.skill-container{
        background-color:var(--secondary-color) ;
        margin: 3rem 3rem 1rem;
                padding: 2.5rem;
}
.skill-title{
        color: var(--advanced-color);
        margin-top: 20px;
        padding-bottom: 5px;
        text-transform: capitalize;
}
.skill-item{
        border: none;
        border-radius: 4px;
}
.skill-icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        background-color: var(--advanced-color);
        border-radius: 10px;
        margin-top: 20px;
}

.skill-icon i{
        margin-top: 60px;
        color:var(--secondary-color);
        font-size: 80px;
}
.skill-icon p{
        margin-top: 8px;
        margin-bottom: 40px;
        font-size: 18px;
        color: var(--secondary-color);
}



.certificate-container{
        margin-top: 20px;
        margin-bottom: 65px;
}
.certificate-container h3 {
        text-align: center;
        color:var(--advanced-color);
        text-transform: capitalize;
        margin-top: 40px;
}
.my-certificate{
        display: flex;
        justify-content: center;
        margin: 20px 0;

}
.my-certificate img{
        width: 400px;
        margin: 10px;
}
.my-certificate:hover{
        transition: all 150ms ease-in-out;
}



.projects-container h3 {
        text-align: center;
        color: var(--advanced-color);
        text-transform: capitalize;
        
       
}
.my-projects{
        display: flex;
        justify-content: center;
        margin: 20px 0;
}

.my-projects img{
margin: 10px;
width: 400px;
}
.my-projects p{
        color: var(--advanced-color);
}



.contact-container{
        background-color:var(--primary-color);
        margin: 5rem 3rem;
                padding: 2rem;


}
.contact-container h3{
        font-size: 24px;
        text-transform: capitalize
}
.contact-container a{
        text-decoration: none;
        color: var(--secondary-color);
}
.contact-container a:hover{
        text-decoration:underline;
        color: #212529;
        font-weight: bold;
}



form {
        max-width: 520px;
        padding: 10px 15px;
}

#input-subject {
         min-height: 8rem;
}
.contact-form button{
        display: block;
        margin: 0 auto;
        padding: 10px 15px;
        border:var(--primary-color);
        color:#212529 ;    
}
.contact-form button:hover{
        background-color: var(--secondary-color);
        transition: all 0.5s ease-out;
}

footer .social-media{
        margin: 30px 0;
}
footer  .social-icon{
margin: 10px;
font-size: 30px;
color: var(--secondary-color);
}
footer .social-icon:hover{
        color:var(--primary-color);
        transition: all 0.5s ease-out;
}


@media (max-width: 990px) {
.homepage-content{
        text-align: center;
        padding: 0;
        
        text-align: center;
         margin: auto;
}
 .my-certificate img {
         display: flex;
         justify-content: center;
         margin:10px auto;
         max-width:350px ;
 }
 .my-projects img {
         display: flex;
         justify-content: center;
         margin: 10px auto;
         max-width: 350px;
 }

}


@media (max-width: 700px) {
.homepage-content {
                text-align: center;
                padding: 0;
                margin: 10px;
        }

        .my-certificate img {
                display:flex;
                justify-content:center;
                        margin: 10px auto;
                        max-width: 350px;
}
.my-projects img {
        display: flex;
                justify-content: center;
                margin: 10px auto;
                max-width: 350px;
}
}

@media (max-width: 500px) {
        .homepage-content {
                text-align: center;
                padding: 0;
                margin: 10px;
               
        }
        .homepage-content h1{
                font-size: 24px;
        }
                     .my-certificate img {
                             display: flex;
           justify-content:center;
                   margin: 10px auto;
                max-width: 350px;
                     }
.my-projects img {
 display: flex;
 justify-content:center;
   margin: 10px auto;
max-width: 350px;
  }

 
}
