body{
        background:#222831 ;
}

h1{
    color: #9e7e44;
    text-transform: capitalize;
    font-family: 'Playfair Display',
            serif;
            font-weight: bold;
            padding-top: 20px;
        font-size:50px ;
}
h2{
        color: #2c2c2a;
        padding-top: 10px;
        margin-top: 10px;
        font-size:24px ;
}
h3{
        color: #393e46;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 20px;
       
}
p{
        font-family: 'Poppins',
        sans-serif;
        font-weight: normal;
        color: #a2c11c;
        margin-top: 30px;
        line-height: 1.5;   
        padding: 20px;
                font-size: 18px;
                text-align: center;
}

.personal-img{
        max-width: 30px;
        border-radius: 50%;
}
.navbar{
        background-color: #222831;
        color:#9e7e44 ;
}
.navbar-nav{
color: #9e7e44;
}
.nav-link{
color: #9e7e44;
text-transform: capitalize;
}

.nav-link:hover{
        color:#a2c11c ;
        border-bottom: 1px solid #a2c11c ;
}
.navbar-toggler{
        color: #9e7e44;
}



.homepage{
        background: #393e46;
        margin-top: 20px;
        
}


@media (max-width: 700px){
       
 .homepage img{
width: 200px;
border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 20px;
 
 } 
 
 .homepage p{
margin-top: 20px;
 }

}
@media (min-width: 1000px){
        .homepage p{
                
                padding: 60px 20px;
               
        }
}

.about{
        display: flex;
        justify-content: space-evenly;

       
}
.about p{
        color: #9e7e44;
        margin: 10px;
background-color: #dbd8e3;
        }

.my-resume{
                display: flex;
                justify-content: center;
                padding: 15px;
        }
.resume-link {
        background:#dbd8e3;
        color: #9e7e44;
        text-decoration: none;
        padding: 15px 20px;
        border-radius: 4px;
        text-transform: capitalize;
        
      
        
}
.resume-link:hover{
         color:#393e46;
}
.skill{
        background-color: #393e46;
}
.skill-title{
        color: #9e7e44;
}
.skill-item{
        border: none;
        border-radius: 4px;
}
.skill-icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        background-color: #9e7e44;
        border-radius: 10px;
        margin-top: 20px;
}


.vscode{
        width: 100px;
filter: invert(22%) sepia(7%) saturate(996%) hue-rotate(178deg) brightness(90%) contrast(87%);
}

.api{
        width: 90px;
        filter: invert(22%) sepia(7%) saturate(996%) hue-rotate(178deg) brightness(90%) contrast(87%);
}
.responsive {
      
        width: 135px;
        filter: invert(22%) sepia(7%) saturate(996%) hue-rotate(178deg) brightness(90%) contrast(87%);
}
.seo{
        
        width: 140px;
filter: invert(22%) sepia(7%) saturate(996%) hue-rotate(178deg) brightness(90%) contrast(87%);
}
.flexbox {
        
        width: 70px;
        filter: invert(22%) sepia(7%) saturate(996%) hue-rotate(178deg) brightness(90%) contrast(87%);
       
}
.hosting {
        
        width: 80px;
filter: invert(22%) sepia(7%) saturate(996%) hue-rotate(178deg) brightness(90%) contrast(87%);
}


.skill-icon i{
        margin-top: 60px;
        color:#393e46 ;
        font-size: 80px;
}
.skill-icon p{
        margin-top: 8px;
        margin-bottom: 40px;
        font-size: 18px;
        color: #393e46;
}
.my-certificate{
        display: flex;
        justify-content: center;
        margin: 30px 0;

}
.my-certificate img{
        width: 400px;
        margin: 20px;
}
