body{
        background:#222831 ;
}

h1{
    color: #9e7e44;
    text-transform: capitalize;
    font-family: 'Playfair Display',
            serif;
            font-weight: bold;
            padding-top: 20px;
}
h2{
        color: #2c2c2a;
}
p{
        font-family: 'Poppins',
        sans-serif;
        font-weight: normal;
        color: #a2c11c;
        margin-top: 40px;
        line-height: 1.5;     
}

.personal-img{
        max-width: 30px;
        border-radius: 50%;
}
.navbar{
        background-color: #222831;
        color:#9e7e44 ;
}
.navbar-nav{
color: #9e7e44;
}
.nav-link{
color: #9e7e44;
text-transform: capitalize;
}

.nav-link:hover{
        color:#a2c11c ;
        border-bottom: 1px solid #a2c11c ;
}
.navbar-toggler{
        color: #9e7e44;
}

.homepage{
        background: #393e46;
        margin-top: 20px;
        
}


@media (max-width: 700px){
       
 .homepage img{
width: 200px;
border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 20px;
 
 } 
 
 .homepage p{
margin-top: 20px;
 }

}
@media (min-width: 1000px){
        .homepage p{
                
                padding: 60px 20px;
               
        }
}
